bin/Debug/netcoreapp2.1/EIP.dll
bin/Debug/netcoreapp2.1/EIP.dll
obj/Debug/netcoreapp2.1/EIP.dll
obj/Debug/netcoreapp2.1/EIP.pdb
obj/Debug/netcoreapp2.1/EIP.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/EIP.csproj.FileListAbsolute.txt
obj/project.assets.json
obj/EIP.csproj.nuget.dgspec.json
obj/EIP.csproj.nuget.cache
obj
bin
